/* VARIABLES */
/* HTML & BODY */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  justify-items: center;
}
body a {
  color: gray;
  text-decoration: none;
  padding: 1vh;
  transition: color 0.25s, text-shadow 0.25s;
}
body a:hover {
  text-shadow: 0px 0px 1px black;
  color: white;
}

/* HEADER */
header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  transition: height 0.2s, background-color 0.2s, box-shadow 0.2s;
  z-index: 999;
}
header.scrolled {
  background-color: white;
  height: 50px;
  box-shadow: 0 1px 5px gray;
}
header.scrolled a:hover {
  text-shadow: none;
  color: black;
}
header .nav-bar {
  display: grid;
  align-items: center;
  grid-template-columns: 30% auto;
  width: 90%;
  height: 100%;
}
@media (min-width: 1280px) {
  header .nav-bar {
    width: 70%;
  }
}
header .nav-bar a {
  display: inline-block;
  position: relative;
  justify-self: inherit;
}
header .nav-bar a.active {
  color: #3189a3;
  text-shadow: none;
}
header .nav-bar .nav-logo {
  justify-self: left;
  color: #3189a3;
}
header .nav-bar .nav-menu {
  display: flex;
  justify-self: right;
  justify-content: space-between;
  width: 100%;
}

/* CONTENT */
.content {
  width: 100%;
}
.content .container {
  width: 100%;
  color: white;
  padding-top: 50px;
  height: fit-content;
}
.content .container.fullscreen {
  min-height: 100vh;
}
.content .container.cropped {
  min-height: calc(100vh - 100px - 3em);
}
.content .container.black {
  background-color: black;
  color: white;
}
.content .container.white {
  background-color: white;
  color: black;
}
.content .container .container-header {
  color: #3189a3;
  font-weight: 700;
  font-size: 3em;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 50px;
}
.content .card {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
}
@media (min-width: 1280px) {
  .content .card {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .content .card {
    flex-direction: column;
  }
}
.content .card.column {
  flex-direction: column;
}
.content .card .card-item {
  flex-basis: 100%;
  padding: 10px 10px;
}
.content .card .card-item img {
  box-shadow: 1px 1px 5px gray;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.content .card .card-item .card-item-title {
  color: #3189a3;
  font-weight: 700;
  font-size: 1.25em;
}
.content .card .card-item a {
  padding: initial;
  margin: initial;
}
.content .card .card-item a:hover {
  text-shadow: none;
  color: #3189a3;
}
.content .card .name {
  color: #3189a3;
  font-size: 3vmax;
  font-weight: 600;
}
@media (max-width: 1280px) {
  .content .card .name {
    font-size: 2em;
  }
}
.content .card .description {
  font-size: 3vmax;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .content .card .description {
    font-size: 1.5em;
  }
}
.content .card .more-button {
  margin-top: 5vmin;
  align-self: center;
  width: max-content;
  font-size: 2.5vmax;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
@media (max-width: 1280px) {
  .content .card .more-button {
    font-size: 1.5em;
  }
}
.content .card .more-button .arrow {
  align-self: center;
  justify-self: center;
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3vmin;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1;
}

.accent {
  color: #3189a3;
}

.lang-bar {
  padding-left: 15%;
  margin-top: 30vh;
}
@media (max-width: 1280px) {
  .lang-bar {
    padding-left: 5%;
  }
}
.lang-bar .lang-img {
  width: 40px;
}
.lang-bar .lang-img.dutch {
  background-image: url("/static/img/dutch.png");
}
.lang-bar .lang-img.english {
  background-image: url("/static/img/english.png");
}

/*# sourceMappingURL=style.css.map */
