// sass --watch pweb/static/scss/style.scss:pweb/static/css/style.css

body,
html {
    margin          : 0;
    padding         : 0;
    font-family     : poppins, sans-serif;
}


header {
    color           : gray;
    background-color: transparent;
    display         : grid;
    position        : fixed;
    top             : 0;
    width           : 100%;
    height          : 15%;
    transition      : height 0.2s, background-color 0.2s, box-shadow 0.2s;
    z-index: 999;

    nav {
        width                : 90%;
        height               : 100%;
        justify-self         : center;
        align-items          : center;
        display              : grid;
        grid-template-columns: auto auto;
        transition           : width 0.9s;

        @media screen and (min-width: 450px) {
            width: 70%;
        }

        a {
            color          : inherit;
            text-decoration: none;
            padding        : 1vw 1vw;
            border-radius  : 10px;
            transition     : color 0.25s;
            justify-self   : left;

            &:hover {
                color: black;
            }
        }

        ul {
            list-style-type: none;
            margin         : 0;
            padding        : 0;
            justify-self   : right;

            li {
                display   : inline-block;
                transition: color 0.25s, background-color 0.25s;
            }
        }

        a.active,
        li.active {
            color: black;
        }
    }

    &.scrolled {
        background-color: white;
        height          : 8%;
        box-shadow      : 0 1px 5px black;

        nav {
            width: 90%;
        }
    }
}

.content {
    padding-top: 15vh;
}