// sass --watch pweb/static/scss/style.scss:pweb/static/css/style.css

/* VARIABLES */
$desktop-breakpoint:1280px; // The width at which to show the full version
$mobile-breakpoint:600px;
$main-color : white;
$secondary-color : black;
$accent-color : #3189a3;
$link-color : gray;

/* HTML & BODY */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    justify-items: center;

    a {
        color: $link-color;
        text-decoration: none;
        padding: 1vh;
        //margin: -1vh;
        transition: color 0.25s, text-shadow 0.25s;

        &:hover {
            text-shadow: 0px 0px 1px $secondary-color;
            color: $main-color;
        }
    }
}

/* HEADER */
header {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
    transition: height 0.2s, background-color 0.2s, box-shadow 0.2s;
    z-index: 999;

    &.scrolled {
        background-color: $main-color;
        height: 50px;
        box-shadow: 0 1px 5px gray;

        a:hover {
            text-shadow: none;
            color: $secondary-color;
        }
    }

    .nav-bar {
        display: grid;
        align-items: center;
        grid-template-columns: 30% auto;
        width: 90%;
        height: 100%;

        @media (min-width: $desktop-breakpoint) {
            width: 70%;
        }

        a {
            display: inline-block;
            position: relative;
            justify-self: inherit;

            &.active {
                color: $accent-color;
                text-shadow: none;
            }
        }

        .nav-logo {
            justify-self: left;
            color: $accent-color
        }

        .nav-menu {
            display: flex;
            justify-self: right;
            justify-content: space-between;
            width: 100%;
        }
    }
}

/* CONTENT */


.content {
    width: 100%;

    .container {
        width: 100%;
        color: $main-color;
        padding-top: 50px;
        height: fit-content;

        &.fullscreen {
            min-height: 100vh;
        }

        &.cropped {
            min-height: calc(100vh - 100px - 3em);
        }

        &.black {
            background-color: $secondary-color;
            color: $main-color;
        }

        &.white {
            background-color: $main-color;
            color: $secondary-color;
        }

        .container-header {
            color: $accent-color;
            font-weight: 700;
            font-size: 3em;
            width: max-content;
            margin: 0 auto;
            padding-bottom: 50px;
        }
    }

    .card {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: row;

        @media (min-width: $desktop-breakpoint) {
            width: 70%;
        }

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }

        &.column {
            flex-direction: column;
        }

        .card-item {
            flex-basis: 100%;
            padding: 10px 10px;

            img {
                box-shadow: 1px 1px 5px gray;
                max-width: 100%;
                max-height: 100%;
                height: auto;
            }

            .card-item-title {
                color: $accent-color;
                font-weight: 700;
                font-size: 1.25em;
            }

            a {
                padding: initial;
                margin: initial;

                &:hover {
                    text-shadow: none;
                    color: $accent-color;
                }
            }
        }

        .name {
            color: $accent-color;
            font-size: 3vmax;
            font-weight: 600;


            @media (max-width: $desktop-breakpoint) {
                font-size: 2em;
            }
        }

        .description {
            font-size: 3vmax;
            font-weight: 400;

            @media (max-width: $desktop-breakpoint) {
                font-size: 1.5em;
            }
        }

        .more-button {
            margin-top: 5vmin;
            align-self: center;
            width: max-content;
            font-size: 2.5vmax;
            display: flex;
            flex-direction: column;
            font-weight: 300;

            @media (max-width: $desktop-breakpoint) {
                font-size: 1.5em;
            }

            .arrow {
                align-self: center;
                justify-self: center;
                border: solid;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3vmin;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                z-index: 1;

            }
        }
    }
}

.accent {
    color: $accent-color
}

.lang-bar {
    padding-left: 15%;

    @media (max-width: $desktop-breakpoint) {
        padding-left: 5%;
    }

    margin-top: 30vh;

    .lang-img {
        width: 40px;

        &.dutch {
            background-image: url("/static/img/dutch.png");
        }

        &.english {
            background-image: url("/static/img/english.png");
        }
    }
}