{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container black fullscreen">
    <div class="card">
        <div class="name">Paweł Protaś</div>
        <div class="description">{{ _('Software Engineering student and developer.') }}</div>
        <a class="more-button" href="#after">
            <div>{{ _('Read more.')}}</div>
            <div class="arrow"></div>
        </a>
    </div>
</div>
<div id="after" class="container white">
    <div class="card">
        
    </div>
</div>
{% endblock %}