{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="home" class="container black fullscreen">
    <div class="card column">
        <div class="name">Paweł Protaś</div>
        <div class="description">{{ _('Software Engineering student and developer.') }}</div>
        <a class="more-button" href="#about">
            <div>{{ _('Read more.')}}</div>
            <div class="arrow"></div>
        </a>
    </div>
</div>
<div id="about" class="container white cropped">
    <div class="container-header">{{ _('About') }}</div>
    <div class="card">
        <div class="card-item">
            <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="{{ _('Profile Picture') }}">
        </div>
        <div class="card-item">
            <div class="card-item-title">{{ _('Backstory')}}</div>
            <p>
                {{ _('I am an aspiring software developer located in The Netherlands, currently occupied with obtaining my Software Engineering bachelor.') }}
            </p>
            <p>
                {{ _('I\'ve built websites, programs, mobile applications, AI-operated robots, smart home gadgets and games. Interested? Check out out my') }} <a href="#portfolio">{{ _('portfolio') }}</a> {{ _('or') }} <a href="#contact">{{ _('reach out to me.') }}</a>
            </p>
            <div>
                <a href="https://github.com/pprotas" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/pawel-protas/" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-item-title">{{ _('What else...') }}</div>
            <p>
                {{ _('Other than that, i enjoy listening to and creating Hip-Hop and Techno, attending festivals and hitting the gym.') }}
            </p>
        </div>
    </div>
</div>
<div id="portfolio" class="container black cropped">
    <div class="container-header">{{ _('Portfolio') }}</div>
    <div class="card">
        <div class="card-item">
            <div class="card-item-title">{{ _('Skills') }}</div>
            <p>
                {{ _('I am a well-rounded software engineer with advanced knowledge of the following techniques:') }}
                <ul>
                    <li>HTML, CSS, JavaScript</li>
                    <li>PHP, Laravel</li>
                    <li>C#, .NET, Xamarin</li>
                    <li>Java</li>
                    <li>C, C++</li>
                    <li>Python, Flask</li>
                    <li>Windows, Linux, Bash, Raspberry Pi, Arduino</li>
                    <li>Docker, Heroku</li>
                </ul>
                {{ _('Of course i am eager to learn new technologies and improve my development toolchain.') }}
            </p>
        </div>
        <div class="card-item">
            <div class="card-item-title">{{ _('Interesting projects') }}</div>
            <ul>
                <li>
                    <p class="accent">{{ _('This website!') }}</p>
                    <p>
                        <a href="www.pawelprotas.me" target="_blank">www.pawelprotas.me</a>{{ _(' is created using my own custom CSS framework, the Python framework Flask and deployed on Heroku using Docker!') }}
                    </p>
                </li>
                <li>
                    <p class="accent">Robot Harold</p>
                    <p>
                        {{ _('Using a Raspbery Pi, an Ardunio and plenty of aluminum we\'ve created a fully functioning robot-tank-spider hybrid which can be controlled using a remote. Harold can also make his own decisions using a TensorFlow AI model.') }}
                    </p>
                    <p>
                        {{ _('Harold won third place during the final robot competition at our school (NHL Stenden, Leeuwarden)! Check him out') }} <a href="www.robotharold.nl" target="_blank">{{ _('here.') }}</a> 
                    </p>
                </li>
                <li>
                    <p class="accent">{{ _('More?') }}</p>
                    <p>
                        {{ _('I have plenty more projects on my GitHub! This includes a simple drawing program made in Java, a 3D JavaScript horror game and a simple Arduino-powered home-security system. Look for yourself') }} <a href="https://github.com/pprotas" target="_blank">{{ _('here.') }}</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="contact" class="container white cropped">
    <div class="container-header">Contact</div>
    <div class="card">
        <div class="card-item">
            <div class="card-item-title">E-Mail</div>
            <p>pawprotas@gmail.com</p>
        </div>
        <div class="card-item">
            <div class="card-item-title">{{ _('Other') }}</div>
            <p>
                <a href="https://github.com/pprotas" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/pawel-protas/" target="_blank">LinkedIn</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}