<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pawel Protas - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-logo">
                <a {%- if request.path == url_for('main.index') %} class="active" {% endif %}
                    href="{{ url_for('main.index') }}">Pawel Protas</a>
            </div>
            <div class="nav-menu">
                {% for navitem in ['main.about', 'main.portfolio', 'main.contact'] %}
                <a {%- if request.path == url_for(navitem) %} class="active" {% endif %}
                    href="{{ url_for(navitem) }}">{{ navitem[5:] | capitalize }}</a>
                {% endfor %}
            </div>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>

    </footer>
</body>

</html>