<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pawel Protas - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('main.index') }}">Pawel Protas</a></h1>
        <nav>
            <ul>
                {% for li in ['main.about', 'main.portfolio', 'main.contact'] %}
                <li {%- if request.path == url_for(li) %} class="active" {% endif %}><a
                        href="{{ url_for(li) }}">{{ li[5:] | capitalize }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>

    </footer>
</body>

</html>